* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(45deg, #0a0a0a, #3a4452);
}
h1 {
    margin-top: 50px;
    margin-left: 400px;
    text-align: center; 
}
input {
    background: transparent;
    border: none;
    box-shadow: 0px 3px 15px black;
    width: 300px;
    height: 34px;
    font-size: large;
    border-radius: 10px;
    
}
input::placeholder {
    color: white;
    
}
.container {
    border: 1px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: transparent;
    box-shadow: 0px 3px 15px rgb(113, 115, 119, 0.5);
    margin-top: 200px;
    margin-right: 600px;
    width: 600px;
    height: 440px;
}
.row1 {
    border: none;
    width: auto;
    height: auto;
    margin: 20px;
    border-radius: 50%;
}